body{
    background: #000;
}

.container{
    text-align: center;
    margin: 80px 0 0;
}

.slide{
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.btn1,.btn2{
    padding: 10px 40px;
    margin: 20px 10px auto ;
    border-radius: 30px;
    background: rgb(236, 120, 11);

}

.hidden{
    display: none;
}